@model ProductDtoForInsertion

<div>
    <div class="display-6">
        Create

    </div>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group my-3">
            <label asp-for="CategoryId">Category: </label>
            <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories">
            </select>
              
    


        </div>
        <div class="form-group my-3">

            <label asp-for="ProductName">Product Name</label>
            <input asp-for="ProductName" placeholder="Enter Product Name" class="form-control" />

        </div>
        <div class="form-group my-3">

            <label asp-for="Summary">Summary</label>
            <input asp-for="Summary" placeholder="Enter Product Name" class="form-control" />

        </div>
        <div class="form-group my-3">

            <label asp-for="Price">Price</label>
            <input asp-for="Price" placeholder="Enter Price" class="form-control" />

        </div>
        <div class="form-group my-3">

            <label asp-for="ImageUrl">Image</label>
            <input name="file"  type="file" class="form-control" />

        </div>
        <div class="form-group my-3">
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i>

                    Save
                </button>
                <a asp-action="Index" class="btn btn-outline-primary">
                    <i class="fa fa-list"></i>
                    Products
                </a>



                </button>
            </div>
        </div>

    </form>

</div>