<div class="text-center text-danger my-5">
<h3 class="display-3">
    <i class="fa fa-solid fa-bug-slash"></i>
    <br>
    Access Denied
</h3>
</div>
<div class="text-center">
    <div class="lead">
        You have no permission to access this page. Plase get in touch. 
    </div>
    <div class="btn-group my-5">
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Home</a>
        <a class="btn btn-outline-secondary" asp-controller="Product" asp-action="Index">Products</a>
        <a class="btn btn-outline-info" asp-page="/contact">Contact</a>
    </div>
</div>