@model IEnumerable<Category>
<div class="text-center">
    <h6 class="display-6">
        Categories
    </h6>
</div>
    <ul class="list-group-my3">
         @foreach (var cat in Model)
         {
            <li class="list-group-item">@cat.CategoryName</li>
         }

    </ul>