@page "/getintouch"
<div class="text-left border my-5 rounded">

    <div class="display-6 text-center">Contact</div>
    <div class="lead">

        <p>
            <i class="fa fa-phone text-primary my-3 mx-3"></i>
            ALO +90 539 670 ** ** Bilgi Alma Hattı
        </p>
        <p>
            <i class="fa fa-address-card text-primary my-3 mx-3" aria-hidden="true"></i>
            Business İstanbul Merdivenköy Mah. Yumurtacı Abdi Bey Cd, Dikyol Sk. No:2 B Blok Kat:9 D:92, 34732
            Kadıköy/İstanbul
        </p>
        <p>
            <i class="fa fa-envelope text-primary my-3 mx-3" aria-hidden="true"> </i>
            tunagul44@gmail.com
        </p>

    </div>

</div>
