@page "/getintouch"
<div class="text-center">

    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone"></i>
        <p>
            ALO 120 Bilgi Alma Hattı
        </p>
          <i class="fa fa-address-card" aria-hidden="true"></i>
        <p>Business İstanbul Merdivenköy Mah. Yumurtacı Abdi Bey Cd, Dikyol Sk. No:2 B Blok Kat:9 D:92, 34732 Kadıköy/İstanbul</p>
 
    </div>

</div>
