@page
@model StoreApp.Pages.DemoModel
@{
    <h1>Logic Example</h1>
    <div class=".my-5 text-center">
        <div class="display-6">Merhaba @Model?.FullName !</div>
        <p class="text-danger">@HttpContext.Session.GetString("name")</p>
        <form method="post" asp-page="/demo">
        <div class="form-group">
            <input class="form-control" name="name" placeholder="Enter your name" />
            <input type="submit" class="btn btn-primary my-3" value="Submit"></input>
        </div>
        </form>
    </div>

}